[2020-07-23 22:03] jeffwilcox opened #10 "Need to add a Twitter social media button"
Perhaps in the footer or where it makes sense, linking to `OpenAtMicrosoft`

[2020-07-29 16:39] jeffwilcox opened #11 "Pull assets from CDN"
This can wait until after soft-launch, but we also push the rendered Jekyll site to `opensource.azureedge.net`, and should pull all JS, CSS, etc. from there if possible.

[2020-07-29 16:53] jeffwilcox opened #12 "Validate Accordions are happy again"

[2020-07-29 17:03] jeffwilcox opened #13 "REST API for good first issues: improvements"
- pull in labels from the issue (or at least what the label action was for being a GFI)
- validate all issues are still open and still have the label before rendering

[2020-07-29 17:04] jeffwilcox opened #14 "REST API for repos should pull in topics"

[2020-07-29 17:50] jeffwilcox opened #15 "Consider separating "good first issue" content from "help wanted""
The "help wanted" tag, which is much more common on newer projects now that GitHub
highlights the subset of issues asking for help, is also not great for first-time contributors
compared to "good first issue".

I need to experiment with separating out the set of activities to jump on as a result, perhaps
both in the same REST response.

[2020-07-31 07:42] #12 closed, assigned to nobody

[2020-08-05 15:35] jeffwilcox opened #16 "Front door: enforce HTTPS redirection"

[2020-08-05 18:50] #16 closed, assigned to jeffwilcox

[2020-08-07 17:10] #10 closed, assigned to nobody

[2020-08-07 22:32] #15 closed, assigned to jeffwilcox

[2020-08-07 22:32] #13 closed, assigned to jeffwilcox

[2020-08-07 22:32] jeffwilcox opened #18 "Collaborate: build refresh / auto-refresh code"

[2020-08-07 22:35] jeffwilcox opened #19 "Add ClearlyDefined content to Program > Tools"

[2020-08-07 22:37] jeffwilcox opened #20 "Support project sort view"
Sort by fields:

- Awesomeness (need a better name for this... "Default" sounds boring)
- Activity
- Name

[2020-08-10 18:04] #18 closed, assigned to nobody

[2020-08-10 18:04] #19 closed, assigned to fossygirl

[2020-08-10 22:27] jeffwilcox opened #23 "Skip to main content needs to be visible on focus"

[2020-08-10 23:29] jeffwilcox opened #24 "Improve .NET project entry"

[2020-08-10 23:29] jeffwilcox opened #25 "Make repo public"

[2020-08-10 23:30] jeffwilcox opened #26 "Update microsoft.com DNS entry to production front door"

[2020-08-10 23:30] jeffwilcox opened #27 "Add description meta tag to homepage"

[2020-08-10 23:46] #27 closed, assigned to nobody

[2020-08-11 02:47] #23 closed, assigned to nobody

[2020-08-11 18:35] #11 closed, assigned to nobody

[2020-08-11 19:30] jeffwilcox opened #28 "Contribution data should use opt-in flag"

[2020-08-11 21:45] #28 closed, assigned to nobody

[2020-08-11 22:33] #24 closed, assigned to nobody

[2020-08-12 13:57] #25 closed, assigned to nobody

[2020-08-12 15:42] jeffwilcox opened #29 "Small footer link for employees?"
Point people at aka.ms/opensource that can auth and may be looking for content?

[2020-08-12 21:47] rjmholt opened #30 "Code of Conduct not found (404)"
https://opensource.microsoft.com/codeofconduct/ seems to have disappeared, causing [failures in PowerShell's static analysis CI steps](https://dev.azure.com/powershell/PowerShell/_build/results?buildId=60439&view=logs&jobId=20040542-2952-5caf-d527-1a6ae3d90bed&j=20040542-2952-5caf-d527-1a6ae3d90bed&t=2df8e2d5-8210-54c4-1b7f-4b7ab92a2712).

I notice that links on https://opensource.microsoft.com po

[2020-08-12 21:50] rjmholt commented on #30
https://opensource.microsoft.com/code-of-conduct seems to be the correct URL now

[2020-08-12 22:04] rjmholt commented on #30
Fixed in https://github.com/microsoft/opensource.microsoft.com/commit/282b1c7e0bf70732d7a02ad68d90352902aa8a2d

[2020-08-12 22:04] #30 closed

[2020-08-12 22:26] jeffwilcox commented on #30
Thanks for pointing this out!

[2020-08-12 22:27] jeffwilcox commented on #26
Microsoft DNS is now pointing to the new site.

[2020-08-12 22:27] #26 closed

[2020-08-12 23:02] jeffwilcox opened #31 "Search performance could be improved"
There seem to be a few issues with our rather basic JS experience of pulling the query and showing results. An initial pre-load UI might be helpful, and I've seen a race condition where it shows the most popular repos but never the search contents.

[2020-08-12 23:03] jeffwilcox opened #32 "Search should be broadened beyond repos"
The search box on the site currently only targets the repo search. This should be improved to also hit the site index through something like `lunrjs`

[2020-08-12 23:20] jeffwilcox opened #34 "Good first issue experiences need to be more useful"
As pointed out by @riverar, the soft launch experience needs to catch-up to the goals we had originally on having a more interactive experience.

[2020-08-12 23:41] sequoiar opened #35 "Is this a web portal to https://github.com/microsoft ?"

[2020-08-12 23:43] jeffwilcox commented on #35
Not necessarily, we'd prefer people just hit GitHub directly for working on projects there... but for anyone looking to get high-level information about some of the projects, products, other open source activities Microsoft is a part of, it's a good resource for that.

The project explore experience is able to search some repos, but it's not a primary goal of the site.

How can I help?

[2020-08-12 23:44] jeffwilcox opened #36 "Repo search is not filtering through the REST API"
Language-based filters can be done on the server more efficiently.

[2020-08-12 23:44] riverar commented on #34
Appreciate the quick handling of my knee-jerk complaint, hah! Just to add a bit more detail ...

I see **Help wanted** and **Get started** as key features and am personally looking to use them to see where I can help out. (An example of the Get Started experience is pictured below.)

Some concerns/thoughts regarding these experiences:

* The pause/resume controls at the top of the page seem to onl

[2020-08-12 23:47] craiglpeters opened #37 "Add 'Go' and 'Rust' filters to the explore projects page"
Go is the language of choice for much of the industry's infrastructure code, and Microsoft is no exception. There should be a 'Go' filter on the https://opensource.microsoft.com/projects/explore/ page.

Having said that, Rust is also an up and coming language for many of our projects.

Skipping these two omits key parts of our ecosystem from the filter

[2020-08-13 00:31] #35 closed

[2020-08-13 00:35] jeffwilcox commented on #31
Race condition fixed in https://github.com/microsoft/opensource.microsoft.com/commit/7c7d7bec6905e8c37bb68753fa1d88e0efa8b283

[2020-08-13 15:33] bnb opened #38 "Ecosystem Link Bugs (undefined and typo in external URLs)"
Currently, if you click an issue from https://opensource.microsoft.com/ecosystem/, it goes to something like this:

[code]

there's a small typo there - it should be like this, with an `s` on `issues`:

[code]

Additionally, some entries like this one:

![image](https://user-images.githubusercontent.com/502396/90154907-ac8cf180-dd58-11ea-9de8-18f7ba7f1207.png)

Go to a url with `undefined` in them

[2020-08-13 15:40] TylerLeonhardt commented on #37
I was originally coming in to this issue to say "Also add a PowerShell filter" but filters could probably be built dynamically based on the languages used of the repos.

[2020-08-13 15:41] jeffwilcox commented on #29
Fixed in direct commit https://github.com/microsoft/opensource.microsoft.com/commit/d56a8561298ca5598744034d52059c2903ea62fa

[2020-08-13 15:41] #29 closed

[2020-08-13 15:50] jeffwilcox commented on #38
Thank you! A fix has been submitted to the backend API server and will roll out now.

Interestingly, pull requests are at `pull/:id` and the list at `pulls/`, while issues are at `issues/:number` and the list at `issues/`.

[2020-08-13 15:50] #38 closed

[2020-08-13 16:15] jeffwilcox commented on #37
Agreed @TylerLeonhardt... the site is funky in that it's mostly static, but we absolutely do have the language data and could pull that. For now I think we may add PowerShell manually as we fix a few bugs in the filtering!

[2020-08-13 17:05] TylerLeonhardt commented on #37
Sounds good 🙂

[2020-08-13 18:53] craiglpeters commented on #37
I think this is pretty important because if the filters don't reflect the nature of our contributions, then we give a wrong impression to the casual browser

[2020-08-13 19:12] jeffwilcox opened #40 "Social media preview image required"
This site defines a social media image path that does not exist. A preview image is needed.

[2020-08-13 20:35] mattgreg opened #41 "cla link returns a 404"
To reproduce the 404:

1. Go to https://opensource.microsoft.com/ecosystem/
1. Click `Microsoft Contributor License Agreement` in the blue section near the bottom of the page
1. You will land here: https://cla.opensource.microsoft.com/
1. Click `Microsoft Contributor License Agreement (CLA)`
1. redirect to here: https://opensource.microsoft.com/pdf/microsoft-contribution-license-agreement.pdf
1. r

[2020-08-13 21:10] jeffwilcox commented on #41
Thank you @mattgreg :gift_heart:

Fixed now in https://github.com/microsoft/opensource.microsoft.com/commit/a5fd0ff5e6c2c3550d1bfdc043a9751df0b0d376

[2020-08-13 21:10] #41 closed

[2020-08-13 21:28] brunoborges commented on #37
Missing `Java` in the filter as well.

[2020-08-14 03:52] jeffwilcox opened #43 "WCAG 2.1: homepage experience"
Similar to the 'get involved' page, to comply with the success criteria 2.2.2, offering a pause
experience for the hero images and animated graphics.

https://www.w3.org/WAI/WCAG21/Understanding/pause-stop-hide.html

[2020-08-14 13:55] jeffwilcox commented on #43
fixed in https://github.com/microsoft/opensource.microsoft.com/commit/743d9726bc117901462ef539d6323dfff2d0841f

[2020-08-14 13:55] #43 closed

[2020-08-14 16:57] ItalyPaleAle opened #44 "Repo search page doesn't show pagination"
On this page: https://opensource.microsoft.com/projects/explore/

I do not see any page controls or the ability to have infinite scrolling. Also, the filter by language doesn't seem to work for me.

Using Edge 84 (Stable channel) on macOS.

[2020-08-14 17:07] jeffwilcox commented on #44
Thanks! Confirming the pagination controls and features were cut for launch so there's more work to be done there.

On the filtering, this is a known issue that will be fixed in https://github.com/microsoft/opensource.microsoft.com/issues/36

I'll keep this issue open to represent the pagination or infinite scrolling feature, closing once it ships.

[2020-08-14 22:15] jeffwilcox commented on #40
deployed both to the site and to github repo

[2020-08-14 22:15] #40 closed

[2020-08-15 03:53] jeffwilcox commented on #14
I've verified there is more backend work required on this one.

[2020-08-15 03:55] jeffwilcox opened #47 "GitHub Actions should support building an authorized PR build"
Ideally we should be able to build an authorized pull request's content and store it as an artifact through GitHub Actions.

[2020-08-15 03:56] jeffwilcox commented on #47
I think this is close to working. (test)

[2020-08-15 04:30] jeffwilcox commented on #47
(bump)

[2020-08-15 04:35] jeffwilcox commented on #47
(bump)

[2020-08-15 04:38] jeffwilcox commented on #47
(bump)

[2020-08-15 04:40] jeffwilcox commented on #47
(bump)

[2020-08-15 04:43] jeffwilcox commented on #47
/test

[2020-08-15 04:45] jeffwilcox commented on #47
/run

[2020-08-15 04:49] jeffwilcox commented on #47
/hi

[2020-08-18 19:30] AevaOnline opened #49 ""docker build" error"
`docker build .` yields the following error:

`Error response from daemon: Dockerfile parse error line 10: unknown instruction: ./NODE_MODULES/GULP/BIN/GULP.JS`

It appears to be an error on this line
https://github.com/microsoft/opensource.microsoft.com/blob/e862ec188971f1e01a37041f6e746c9366628e9c/Dockerfile#L10

I tried the simple fix of prefixing this line with the `RUN` directive, which did n

[2020-08-18 19:32] jeffwilcox commented on #49
Great find! Heh. We're not actively actually using the Dockerfile so it hasn't been tested lately... will take a look.

[2020-08-19 16:45] jeffwilcox commented on #47
Closing this issue, turns out this is not possible today.

[2020-08-19 16:45] #47 closed

[2020-08-20 00:25] jeffwilcox commented on #49
The fix you suggested worked on my machine! Pushed a fix.

[2020-08-20 00:25] #49 closed

[2020-09-05 05:44] WestVooD-sf opened #58 "Normak"

[2020-09-05 15:19] jeffwilcox commented on #58
Closing; no further context provided.

[2020-09-05 15:19] #58 closed

[2020-09-10 09:39] DevServ3r opened #60 "CYBER'S SECURITY"

[2020-10-06 21:14] thriftykapila commented on #34
Can you add me for this task, I want to work on this issue

[2020-10-06 21:49] riverar commented on #34
Looks like a Hacktoberfest spammer.

[2020-10-07 00:01] entrepernuer commented on #34
GitHub is supposed to be open source

[2020-10-07 00:03] entrepernuer commented on #34
Sorry about that forgot to read the contributing guidelines now I understand

[2020-10-07 19:32] ppejovic opened #65 "Is the backend api open source?"
Is the backend that generates the activity feed(s) (e.g. `/api/stream`) for the _Get Involved_ part of site open source? I tried to look for it, apologies if I missed it.

[2020-10-25 20:18] stormypeters opened #67 "Can we add Outreachy to the Ecosystem page?"
Can we add Outreachy to the Ecosystem page?

The Outreachy logo is here: [https://www.outreachy.org/promote/](url)

Thanks!

[2020-10-26 16:10] jeffwilcox commented on #65
No apologies needed... unfortunately, the backend is currently not entirely open source; however, I can probably help point you to what we've done: we connect to webhooks and then do a certain amount of processing there, and I think it would be straightforward to open source much of that.

The static portion of the site is built with Jekyll, but then we augment that with the backend APIs that are

[2020-10-28 04:26] ppejovic commented on #65
Thanks for the reply @jeffwilcox, much appreciated. To support our innersource efforts we're looking at trying to improve the visibility of projects that are open for contribution within our enterprise. When I saw opensource.micorosft.com, specifically the _Get Involved_ part of the site, I thought running a fork of the project could potentially be a great fit for promoting innersource projects in

[2020-10-28 06:00] jeffwilcox commented on #65
Yeah, unfortunately it's super specific (right now) to the schema of GitHub's webhook event processing pipeline... might be possible to get something like that rocking on top of Azure Repos, but I'm not familiar enough with that world, these days (sorry).

Will look to share what we have, though.

[2020-10-28 20:42] virtualritz commented on #37
+1

[2020-11-09 19:10] jeffwilcox commented on #67
Added, but in need of a fix to the logo itself. Closing this now as I'm separately tracking the icon issue. Thanks!

[2020-11-09 19:10] #67 closed

[2020-11-22 20:13] SaavyGirl opened #74 "Saavygirl35"

[2020-11-30 20:47] #74 closed

[2020-11-30 20:48] jeffwilcox opened #75 "GitHub Actions are broken for deployment"
The `azure/docker-login` action is broken with the changes rolled out by GitHub Actions in November.

[2020-12-20 07:57] SaavyGirl opened #79 "Microsoft/Opoensource.Microsoft.com"
__Originally posted by @yeuvhen in https://github.com/Alamofire/Foundation/issues/10__

[2021-01-17 12:36] Ubuntu-2020 opened #81 "Windows Photo Viewer"
I really like the **Windows Photo Viewer** program.
![Windows7defaultPhotoViewer](https://user-images.githubusercontent.com/65112331/104842919-a2a38780-58d0-11eb-8b8c-8239aecd7f44.jpg)

However, I already use Linux. And the Linux operating system has its own programs for **viewing images**. And some of them are very good!
But most of the programs to view images in Linux is not very user-friendly i

[2021-01-20 20:25] msftgits commented on #81
Hi,
Unfortunately, the team that helps maintain this web site is not familiar with any of the plans of the many teams regarding what may be open sourced in the future, but we have passed this request along to a discussion location inside the company about open source. Thanks!

[2021-01-20 20:25] #81 closed

[2021-01-20 20:26] #79 closed

[2021-01-24 11:59] Ubuntu-2020 opened #83 "Microsoft Windows & ReactOS"
On the site **opensource.microsoft.com** published open source projects from **Microsoft**.
Why don't you officially invite the **[ReactOS](https://en.wikipedia.org/wiki/ReactOS)** project to use them?
I think it will benefit both ReactOS and you. After all, if some original programs from Microsoft are added to ReactOS, then over time the user community will be able to find errors in them and offe

[2021-02-17 08:37] t12344 opened #87 "𝑲 𝑵 𝑵 𝑼"
𝑲 𝑵 𝑵 𝑼 ᵗᵒᵐᵃʰᵃʷᵏ

[2021-02-17 08:38] t12344 commented on #87
𝑲 𝑵 𝑵 𝑼 ᵗᵒᵐᵃʰᵃʷᵏ

[2021-02-17 17:32] #87 closed

[2021-02-18 13:54] t12344 commented on #83
𝑲 𝑵 𝑵 𝑼 ᵗᵒᵐᵃʰᵃʷᵏ

[2021-02-18 15:29] #83 closed

[2021-02-23 08:29] MartinZikmund opened #89 "Microsoft Edge ad while browsing on Edge Canary"
Not sure if it belongs here, but while browsing the [WinUI website](https://microsoft.github.io/microsoft-ui-xaml/), I got a banner for Microsoft Edge even though I was browsing it with Edge Canary - it seems the user agent recognition does not take this version of the browser into account.

![image](https://user-images.githubusercontent.com/1075116/108817893-dac97480-75b8-11eb-8b01-38e2dddca203.p

[2021-02-23 08:35] jeffwilcox commented on #89
Sorry, that's a different repo: https://github.com/microsoft/microsoft-ui-xaml

[2021-02-23 14:03] selvendiranj opened #90 "Pagination"
It would be great if you could add feature to filter based on categories like AI, ML, Data, IOT, Cloud, programming language etc. As a minimum, pagination to browse through all open source projects instead of searching in searchbox.

[2021-02-27 21:12] t12344 opened #91 "𝑲 𝑵 𝑵 𝑼 ᵗᵒᵐᵃʰᵃʷᵏ"

[2021-02-27 23:45] #91 closed

[2021-04-21 15:46] #89 closed

[2021-07-09 00:30] aungminko93750 opened #108 "Request Id: 885c0bfc-bace-481f-8ef4-50b0272d2500 Correlation Id: fcf8edee-4fee-45aa-a1f7-c7f779850cba Timestamp: 2021-07-08T23:04:25Z Message: AADSTS50020: User account 'koaungminko070@gmail.com' from identity provider 'live.com' does not exist in tenant 'Microsoft' and cannot access the application '0f8821e6-75e4-49a4-bff2-8ae72ad2ad58'(MSRC Web) in that tenant. The account needs to be added as an external user in the tenant first. Sign out and sign in again with a different Azure Active Directory user account."

[2021-07-12 17:05] #108 closed

[2021-08-07 13:06] slfsh commented on #79
(http://alamofire.org/)

[2021-08-17 01:11] luuhaidang opened #113 "Btv"
0compiler.cpp:20:38: warning: missing terminating ' character
   20 | Unwelcome comments regarding a person's lifestyle choices and practices, including those related to food, health, parenting, drugs, and employment.
      |                                      ^
compiler.cpp:20:38: error: missing terminating ' character
   20 | Unwelcome comments regarding a person's lifestyle choices and practi

[2021-08-17 05:36] #113 closed

[2021-08-18 06:48] nash567 commented on #14
I want to contribute in this issue.What should  i do to solve the issue.

[2021-09-10 07:33] Rachita98 opened #118 "A11y_OSPO Production_Top Navigation_High Contrast: In high contrast white, the "Microsoft" , "open source" in top navigation and the "search" icon is not visible"
<h2> GitHub Tags:</h2>
#A11yTCS;#A11yMAS;#Win10;#DesktopWeb;#ChromiumEgde;#A11ySev2;#P2_WCP;#WCP;#P2_OSPOProduction_Web_Sep2021;#P2_OSPOProduction;#OSPO Production;#WCAG4.3.1;#HighContrast

<h2> Environment Details:</h2>
URL: https://opensource.microsoft.com/

<h2> OS and Browser Details:</h2>
Microsoft Windows 10 Enterprise Version 21H1 (OS build 19043.1165)
Microsoft Edge Version 95.0.1000.0 (Of

[2021-09-10 10:23] Rachita98 opened #119 "A11y_OSPO Production_Home Page_Page Titled: The title "Microsoft Open Source" is programmatically defined twice."
**GitHub Tags:**
#A11yTCS; #A11yMAS; #Win10; #DesktopWeb; #A11ySev4; #P2_WCP; #WCP; #P2_OSPOProduction_Web_Sep2021; #OSPO Production; #WCAG2.4.2; #Page Titled; #Benchmark

**Environment Details:**
URL: https://opensource.microsoft.com/

**OS and Browser Details:**
Microsoft Windows 10 Enterprise Version 21H1 (OS build 19043.1165)
Microsoft Edge Version 95.0.1000.0 (Official build) dev (64-bit)

**

[2021-09-10 12:42] Rachita98 opened #120 "A11y_OSPO Production_Footer Section_Use of Color: The "Open Source" link present in the footer section is not provided with a underline."
<h2>GitHub Tags:</h2>
#A11yTCS;#A11yMAS;#Win10;#DesktopWeb;#A11ySev2;#P2_WCP;#WCP;#P2_OSPOProduction_Web_Sep2021;#P2_OSPOProduction;#OSPO Production;#WCAG1.4.1

<h2> Environment Details:</h2>
URL: https://opensource.microsoft.com/

<h2> OS and Browser Details:</h2>
Microsoft Windows 10 Enterprise Version 21H1 (OS build 19043.1165)
Microsoft Edge Version 95.0.1000.0 (Official build) dev (64-bit)

<

[2021-09-10 13:33] Rachita98 opened #121 "A11y_OSPO Production_Projects_Contrast : The color contrast ratio for "CNAB", "Accessibility Insights" and "Windows Terminal" links is 3.45:1 which is less than 4.5:1"
<h2>GitHub Tags:</h2>
#A11yTCS;#A11yMAS;#Win10;#DesktopWeb;#ChromiumEgde;#A11ySev2;#P2_WCP;#WCP;#P2_OSPOProduction_Web_Sep2021;#P2_OSPOProduction;#OSPO Production;#WCAG1.4.3;#Benchmark;#Color Contrast;

<h2>Environment Details:</h2>
URL: https://opensource.microsoft.com/

<h2> OS and Browser Details:</h2>
Microsoft Windows 10 Enterprise Version 21H1 (OS build 19043.1165)
Microsoft Edge Version 95.

[2021-09-16 14:41] Rachita98 opened #123 "A11y_OSPO Production_Open Source Updates_Link Purpose: NVDA/Narrator announces the entire tile as a description of the links present under "Open Source" section."
<h2> GitHub Tags:</h2>
#A11yTCS;#A11yUsable;#Win10;#DesktopWeb;#ChromiumEgde;#A11ySev4;#P2_WCP;#WCP;#P2_OSPOProduction_Web_Sep2021;#P2_OSPOProduction;#OSPO Production;#NVDA;#Narrator;

<h2> Environment Details:</h2>
URL: https://opensource.microsoft.com/

<h2> OS and Browser Details:</h2>
Microsoft Windows 10 Enterprise Version 21H1 (OS build 19043.1165)
Microsoft Edge Version 95.0.1000.0 (Officia

[2021-09-20 07:28] Rachita98 opened #124 "A11y_OSPO Production_Open Collaborative_Reflow: The "Collaborative" text is getting truncated when zoomed to 400%."
<h2>GitHub Tags:</h2>
#A11yTCS;#A11yMAS;#Win10;#DesktopWeb;#ChromiumEgde;#A11ySev1;#P2_WCP;#WCP;#P2_OSPOProduction_Web_Sep2021;#P2_OSPOProduction ;#WCAG1.4.10;#Reflow;#OSPO Production;

<h2> Environment Details:</h2>
URL: https://opensource.microsoft.com/

<h2> OS and Browser Details:</h2>
Microsoft Windows 10 Enterprise Version 21H1 (OS build 19043.1165)
Microsoft Edge Version 95.0.1000.0 (Offici

[2021-09-20 16:44] ferBonnin commented on #121
per the [Understanding doc for 1.4.3 Contrast (minimum)](https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html), large text (at least 18pts or 14pt bold) must have a contrast of at least 3:1.  The text highlighted in the first screenshot is 24px. The _read post_ text (foreground color #1C77BC, background color #FFFFFF) has a Ratio of 4.757:1

@Rachita98 can you please clarify more if t

[2021-09-29 12:05] Rachita98 commented on #121
Closing this bug as per SME's approval.

[2021-09-29 12:05] #121 closed

[2021-10-01 18:58] bijoy26 opened #129 "Typo detected on the Azure Credits FAQ page"
### **Location**: [opensource.microsoft.com/azure-credits#credits-faq](https://opensource.microsoft.com/azure-credits#credits-faq)

![image](https://user-images.githubusercontent.com/42487891/135671110-cf88b7ea-0d6c-4a27-8529-e642dd0466dd.png)

**Fix**: `insfrastructure` ❌ should be `infrastructure` ✅

Submitting an external PR sounds overkill for this. 😅 Still let me know if I should do it anyway

[2021-10-01 21:26] jeffwilcox commented on #129
Thanks, appreciate it. Looks like it was directly fixed in commit https://github.com/microsoft/opensource.microsoft.com/commit/eee52a39146f2dac74abffe23cc27214da57edeb

[2021-10-01 21:26] #129 closed

[2021-10-05 23:53] setaskin commented on #124
@Rachita98  Hi , the bug is showing up under Live Share by mistaken in S360. Please change the service name

[2021-10-06 00:03] setaskin commented on #120
@Rachita98 , the bug is showing up under Live Share service in S360 by mistake.  It does belong to another team. Please update the service name

[2021-10-06 00:04] setaskin commented on #118
@Rachita98 , the bug is showing up under Live Share service in S360 by mistake. It does belong to another team. Please update the service name

[2021-10-07 05:18] Rachita98 commented on #118
@setaskin  Thanks for letting us know. I have changed the service name.

[2021-10-07 08:39] ali1997db opened #131 "Ly123123ali@gmail.com"

[2021-11-07 14:39] viethai10 opened #133 "$vault = Get-AzRecoveryServicesVault -Name "asr-vault" Set-AzRecoveryServicesAsrVaultContext -Vault $vault $PrimaryFabric = Get-AsrFabric -Name "asr-a2a-default-westus2" $PrimaryProtContainer = Get-ASRProtectionContainer -Fabric $PrimaryFabric $ReplicationProtectedItem = Get-ASRReplicationProtectedItem -ProtectionContainer $PrimaryProtContainer -FriendlyName "patient-records" $RecoveryPoints = Get-ASRRecoveryPoint -ReplicationProtectedItem $ReplicationProtectedItem $Job_Failover = Start-ASRUnplannedFailoverJob -ReplicationProtectedItem $ReplicationProtectedItem -Direction PrimaryToRecovery -RecoveryPoint $RecoveryPoints[-1] do { $Job_Failover = Get-ASRJob -Job $Job_Failover; sleep 30; } while (($Job_Failover.State -eq "InProgress") -or ($JobFailover.State -eq "NotStarted")) $Job_Failover.State $CommitFailoverJob = Start-ASRCommitFailoverJob -ReplicationProtectedItem $ReplicationProtectedItem Get-ASRJob -Job $CommitFailoverJob"
https://github.com/Azure-Samples/nodejs-docs-hello-world/blob/master/.gitignore

[2021-11-07 14:39] viethai10 commented on #133
$vault = Get-AzRecoveryServicesVault -Name "asr-vault"
    Set-AzRecoveryServicesAsrVaultContext -Vault $vault
    $PrimaryFabric = Get-AsrFabric -Name "asr-a2a-default-westus2"
    $PrimaryProtContainer = Get-ASRProtectionContainer -Fabric $PrimaryFabric
    $ReplicationProtectedItem = Get-ASRReplicationProtectedItem -ProtectionContainer $PrimaryProtContainer -FriendlyName "patient-records"
    $

[2021-11-07 14:41] #133 closed

[2021-11-07 14:42] viethai10 opened #134 "$vault = Get-AzRecoveryServicesVault -Name "asr-vault" Set-AzRecoveryServicesAsrVaultContext -Vault $vault $PrimaryFabric = Get-AsrFabric -Name "asr-a2a-default-westus2" $PrimaryProtContainer = Get-ASRProtectionContainer -Fabric $PrimaryFabric $ReplicationProtectedItem = Get-ASRReplicationProtectedItem -ProtectionContainer $PrimaryProtContainer -FriendlyName "patient-records" $RecoveryPoints = Get-ASRRecoveryPoint -ReplicationProtectedItem $ReplicationProtectedItem $Job_Failover = Start-ASRUnplannedFailoverJob -ReplicationProtectedItem $ReplicationProtectedItem -Direction PrimaryToRecovery -RecoveryPoint $RecoveryPoints[-1] do { $Job_Failover = Get-ASRJob -Job $Job_Failover; sleep 30; } while (($Job_Failover.State -eq "InProgress") -or ($JobFailover.State -eq "NotStarted")) $Job_Failover.State $CommitFailoverJob = Start-ASRCommitFailoverJob -ReplicationProtectedItem $ReplicationProtectedItem Get-ASRJob -Job $CommitFailoverJob"
https://github.com/microsoft/opensource.microsoft.com/issues/133

[2021-11-07 14:42] viethai10 commented on #134
[]()@viethai10

[2021-11-07 15:15] viethai10 opened #135 "Nhập dữ liệu bằng ngôn ngữ của bạn với Gboard"
Tôi đang sử dụng Gboard để nhập dữ liệu bằng Tiếng Việt (QWERTY). Bạn có thể thử Gboard tại: https://gboard.app.goo.gl/8R57N

[2021-11-07 17:33] #135 closed

[2021-11-07 17:34] #134 closed

[2021-11-07 18:53] viethai10 opened #136 "Nhập dữ liệu bằng ngôn ngữ của bạn với Gboard"
Tôi đang sử dụng Gboard để nhập dữ liệu bằng Tiếng Việt (QWERTY), Tiếng Việt (PC) và Tiếng Việt (Viết tay). Bạn có thể thử Gboard tại: https://gboard.app.goo.gl/uxH17

[2021-11-07 20:11] #136 closed

[2021-11-07 22:39] viethai10 commented on #136
JavaScript

[2021-11-08 05:57] viethai10 opened #137 "autorstvo Ako je pribavljeno, u obavezi ste da naznačite ime autora i ostalih naznačenih lica, napomenu o autorskom pravu, napomenu o licenci, napomenu o odricanju i link ka delu. CC licence koje su prethodile verziji 4.0, takođe, zahtevaju naslov dela, ako je pribavljen i mogu da sadrže neznatne razlike. Detaljnije informacije. , unesete link ka licenci i označite izmene, ako su izvršene. To možete da učinite na svaki"
https://github.com/whatwg/html/issues/7317

[2021-12-10 04:08] Erik818subo commented on #75
​    ​branches​: ​[
 ​   # Lists ALL the branches

 ​on​:
 ​  ​push​:
 ​    ​branches​: ​[main]
 ​  ​pull_request​:
 ​    ​#​ The branches below must be a subset of the branches above
 ​    ​branches​: ​[main]
 ​  ​schedule​:
 ​    - ​cron​: ​'​0 13 * * 4​'

 ​jobs​:
 ​  ​analyze​:
 ​    ​name​: ​Analyze
 ​    ​runs-on​: ​ubuntu-latest

 ​    ​steps​:
 ​    - ​name​: ​Checkout repository
 ​      ​

[2021-12-13 20:35] mpcen commented on #124
fixed in #149

[2021-12-27 10:49] Kumarvipano opened #151 "Vkuttam"
I have forgotten the password of this Gmail please me to recover the password please

[2021-12-27 10:50] Kumarvipano commented on #151
I have forgotten the password of this Gmail please me to recover the password please

[2021-12-30 11:34] Bubu198 opened #152 "github/codeql-action/analyze@v1"
![FB_IMG_1636675612020](https://user-images.githubusercontent.com/35182222/147748353-40ac971a-5c88-4295-a31a-0c58655e46a5.jpg)
#124

[2021-12-30 17:06] kz3003 opened #153 "あ"

[2021-12-30 23:12] ak4783 opened #154 "www.facebook.com/help/196434507090362/?helpref=uf_share"

[2022-01-04 18:06] #154 closed

[2022-01-04 18:06] #153 closed

[2022-01-04 18:06] #151 closed

[2022-01-04 18:06] #152 closed

[2022-01-06 10:39] kz3003 opened #155 "あ"
https://content-videovard-encoder-s3.videovard.to/ivs5xhfnxvypab7wfu7iv53egxxsq2vcqrf3o26nsip7js2mdrqe6orgkjca/SDMU-976.mp4

[2022-01-13 16:48] Aaron-Junker commented on #155
When I click the link I get `file not found`. Can you speciy what you want to do?

[2022-01-13 16:55] Aaron-Junker opened #157 "Add download links to the projects"
Add an optional new field in projects for downloading the open sorce project.

An example:

![image](https://user-images.githubusercontent.com/58633848/149373862-7b4f3916-bce6-40ce-bc4f-97b114858b92.png)

I would like to make a PR which implements this, if you like the idea.

[2022-01-13 16:57] Aaron-Junker opened #158 "PowerToys has three dots in link."
The PowerToys project has three dots after the link description. No other project has this.

![image](https://user-images.githubusercontent.com/58633848/149374238-71ce75a8-2ae3-4e49-b317-43e1663f565f.png)

I would be more then happy to create a PR to change this.

cc: @crutkas

[2022-01-13 16:58] Aaron-Junker commented on #75
For me it seems like this is fixed right?

[2022-01-13 17:00] Aaron-Junker commented on #31
@jeffwilcox When it's fixed this can get closed right?

[2022-01-13 17:01] crutkas commented on #158
good eye, if you'd like to, please do

[2022-01-13 17:03] Aaron-Junker commented on #158
Done #159

[2022-01-13 17:40] #158 closed

[2022-01-16 18:18] dragoneid opened #160 "Request Id: 5ecad246-f2f7-446d-9e66-23bd29063b00 Correlation Id: f7ba475b-f94c-4819-87f6-8546999062ac Timestamp: 2022-01-16T18:17:53Z Message: AADSTS50020: User account 'moradeid43@outlook.com' from identity provider 'live.com' does not exist in tenant 'Microsoft Services' and cannot access the application 'cb5b7de5-2ef8-4fb2-9600-9feadb91dc45'(Microsoft Launcher) in that tenant. The account needs to be added as an external user in the tenant first. Sign out and sign in again with a different Azure Active Directory user account."

[2022-01-16 20:23] dragoneid opened #161 "Connect to my TV"

[2022-01-16 20:25] dragoneid commented on #161
Contact with my Smart TV to open steam account and play on Android

[2022-01-17 06:26] Aaron-Junker commented on #161
Hi. This is the repository for the Microsoft Open Source website. For help with your smart TV please contact the manufacturer of your TV.

[2022-01-23 14:11] KuyaNormsz commented on #155
😀

[2022-01-23 14:11] KuyaNormsz commented on #155
😀

[2022-01-23 14:11] KuyaNormsz commented on #155
😎

[2022-01-24 15:45] #155 closed

[2022-01-24 17:18] Aaron-Junker commented on #157
@jeffwilcox Any thoughts for my suggestion?

[2022-01-24 18:18] jeffwilcox commented on #157
Happy to accept contributions to the site where it makes sense. @emmairwin  and @fossygirl may be able to help coordinate. We're not actively working on this public site today on the team but are always happy to try and collaborate.

[2022-01-24 20:40] emmairwin commented on #157
I personally love that idea @Aaron-Junker
Maybe adding in some limitations on where downloads may come from  (like the store, or GitHub)?

[2022-01-25 06:47] Aaron-Junker commented on #157
I think limiting it to the store would be the best solution.

[2022-01-27 00:03] emmairwin commented on #157
Ok, I think yes please if you are willing that would be great to have your contribution around this.
I can test on my end, if you provide steps for that in the PR.  Thanks very much!

[2022-02-02 21:46] Arhell opened #165 "Accessibility update search color"
![Screenshot_2](https://user-images.githubusercontent.com/26163841/152242644-b58869ae-aeeb-4449-9c61-9d3b5d25e73a.png)
hard to see

[2022-02-04 17:37] Arhell opened #167 "update footer items on tablet"
![Screenshot_3](https://user-images.githubusercontent.com/26163841/152576311-9779898b-0c07-4a91-97ce-b2e835d57dcc.png)

[2022-02-05 22:15] Dhugaa90 opened #169 "Obsa"

[2022-02-06 20:24] Arhell opened #170 "update favicons for different devices"
https://realfavicongenerator.net/favicon_checker?protocol=https&site=opensource.microsoft.com%2F#.YgB2Ed_P1PY

[2022-02-08 20:20] mpcen commented on #118
Fixed in https://github.com/microsoft/opensource.microsoft.com/pull/171

[2022-02-08 20:20] mpcen commented on #120
Fixed in https://github.com/microsoft/opensource.microsoft.com/pull/171

[2022-02-09 18:16] Aftabalamkhan120 opened #172 "Microsoft open source visual studio"
Programming language Microsoft software development database management and open source database

[2022-02-09 18:19] #172 closed

[2022-02-09 18:19] #169 closed

[2022-02-09 18:21] Aftabalamkhan120 opened #173 "Open source"
Hello new open source organisations that Microsoft GitHub project build

[2022-02-27 10:28] Arhell opened #178 "header bug"
When scrolling, the header disappears, but you can click on it
![Screenshot_1](https://user-images.githubusercontent.com/26163841/155878717-5bc9debc-de67-454d-a498-00df1cc34d6c.png)

[2022-03-04 18:24] Aaron-Junker opened #180 "Feature calculator in projects"
[microsoft/calculator](https://github.com/microsoft/calculator) is a very important peoject, because it ships with every installation of Windows, but it isn't featured on the projects page.

In my opinion it should be added.

[2022-03-04 18:50] Aaron-Junker opened #182 "Add overview of Microsoft Github organisations"
There are many Microsoft (Partner) Organisations on Github and I think an overview wouldn't be bad. Something like the project overview page.

For example:

* [Microsoft](//github.com/microsoft)
* [Microsoft Docs](//github.com/microsoftdocs)
* [.Net](https://github.com/dotnet)
* etc.

[2022-03-10 18:23] Aaron-Junker commented on #173
Hi. Is there anything you want to tell us?

[2022-03-13 18:48] Aaron-Junker commented on #75
@emmairwin ?

[2022-03-13 18:49] Aaron-Junker commented on #75
@emmairwin

[2022-03-13 18:50] Aaron-Junker commented on #65
Closing this, because it seems to be resolved.

[2022-03-13 18:50] #65 closed

[2022-03-13 18:51] Aaron-Junker commented on #119
I will work on this issue.

[2022-03-13 18:53] Aaron-Junker commented on #120
I can't confirm that this is fixed, so I'll leave it open

[2022-03-13 18:58] Aaron-Junker commented on #118
I can't confirm this is fixed, so I'll leave it open

[2022-03-13 19:06] #124 closed

[2022-03-13 19:07] #120 closed

[2022-03-13 19:07] #118 closed

[2022-03-14 16:34] #165 closed

[2022-03-14 19:32] emmairwin commented on #75
I will close as it is two years old, and @jeffwilcox can open if he feels that's in error.

[2022-03-14 19:32] #75 closed

[2022-03-15 05:23] #170 closed

[2022-03-19 14:27] Aftabalamkhan120 opened #185 "Genius-Tech-1998s"
Genius-Tech-1998s
[geniustech]()

__Originally posted by @Aftabalamkhan120 in https://github.com/Aftabalamkhan120/opensource.guide/pull/3#issuecomment-1073019205__

__Originally posted by @Aftabalamkhan120 in https://github.com/blueimp/JavaScript-Load-Image/issues/144__

__Originally posted by @Aftabalamkhan120 in https://github.com/microsoft/MCW-Analyzing-text-with-Azure-Machine-Learning-and-Cogn

[2022-03-19 15:11] Aaron-Junker commented on #185
Spam

[2022-03-19 15:12] #185 closed

[2022-03-20 07:19] Aaron-Junker opened #186 "Add new labels"
I would like to suggest the following new labels:

|Name|Description|
|-------|------------|
|In progress|To mark issues as in progress|
|Idea-general|Ideas for general things related to Microsoft Open Source|

And delete the documentation label, because we don't really have docs

[2022-03-20 07:21] Aaron-Junker commented on #173
If there's something to tell us, you can still do this.

[2022-03-20 07:21] #173 closed

[2022-03-20 07:32] stelamtz commented on #170
bien

[2022-03-20 07:41] Aaron-Junker opened #187 "Update blog articles"
The blog articles featured are not current anymore, so I would like to update them.

[2022-03-21 06:18] Aftabalamkhan120 opened #188 "**Is your feature request related to a problem? Please describe.**"
**Is your feature request related to a problem? Please describe.**

 <URL> and {granted}

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

__Originally posted by @Aftabalamkhan120 in https://github.com/microsoft/PSRule/issues/1019__

__Originally posted by @Aftabalamkhan120 in https://github.com/Aftabalamkhan120/Genius-Tech-1998s.com/issues

[2022-03-21 06:45] #188 closed

[2022-03-29 22:40] andersonj360 opened #191 "changing"
https://github.com/microsoft/opensource.microsoft.com/blob/39b64a6151aa5a29fcb7a91ab910db9cf05b237e/.github/workflows/codeql-analysis.yml#L53

[2022-03-30 11:47] Aaron-Junker commented on #191
Hi could you explain what exactly you would like to change?

[2022-04-03 15:20] akshatcoder-hash commented on #186
Hey @Aaron-Junker , I would love to work on this issue. Could you please assign it to me?
Also, is there any slack or a community where discussion is possible regarding the issues?

[2022-04-03 15:24] akshatcoder-hash commented on #186
Hey @Aaron-Junker , I would love to work on this issue. Could you please assign it to me?
Also, is there any slack channel or a community forum where discussion is possible regarding the issues?

[2022-04-03 15:59] Aaron-Junker commented on #186
Hi @akshatcoder-hash. Thank you for showing interest in working on this issue. However adding labels is a thing only people with write permissions can do and you don't have them.

No this repo does not have something like this. The discussions stay in the issues.

[2022-04-03 16:05] akshatcoder-hash commented on #186
I am sorry if this looks like a foolish question, but is it possible that I can get 'write' permission?

[2022-04-03 16:10] Aaron-Junker commented on #186
I'm not the one who can decide this. But as much as we love community contributions, for me it seems a bit off to just give someone "write" permissions just to add 2 labels and delete one.

I will add @emmairwin and @jamesiri here.

If you have any further questions please feel free to ask them.

[2022-04-04 05:31] NAWABDERA1 opened #192 "Nawabdera"
Nawabdera

[2022-04-04 08:15] #192 closed

[2022-04-04 08:16] Aaron-Junker commented on #192
Looks like soam to me. @jamesiri @emmairwin

[2022-04-04 22:33] emmairwin commented on #186
I think that a discussion about labels can happen without having permission to implement the fix.
I think its best when proposing labels to have a problem you hope to solve, and then how you would measure success.

Also if there are other projects using labels, its always great to leverage standards already proven, or tested in other communities (even if they would be a bit different).

[2022-04-04 22:33] emmairwin commented on #186
@akshatcoder-hash what type of things are you interested in working on?

[2022-04-06 01:23] emmairwin opened #194 "Update FOSS Fund (Ecosystem) Page"
We're missing the names/logos of a few recent FOSS Fund Winners
- OpenStreetMap
- MySyS2
- curl
- Reproducable Builds
- Babel
- Optikey

Full list (with links to projects)  should match the README: https://github.com/microsoft/foss-fund/blob/main/README.md

[2022-04-06 01:23] #191 closed

[2022-04-06 01:24] emmairwin commented on #187
Hi Aaron!

can you say more about what you mean by not current, and what you would update?   And by blog, do you mean the link to from the top menu or something different?

[2022-04-06 01:27] emmairwin commented on #182
The Microsoft GitHub organization is the main org for Microsoft   We do link out to projects like .NET on our projects page, and while you and I might be interested in the GH organization of projects, its not high level enough to highlight.  Thanks for the proposal though!

[2022-04-06 01:27] #182 closed

[2022-04-06 01:27] emmairwin commented on #180
Sounds good,  if someone wants to submit a PR that would be great.

[2022-04-06 01:28] emmairwin commented on #178
Hi @Arhell what are the steps to reproduce?

[2022-04-06 01:30] emmairwin commented on #167
Hi @Arhell thanks for this, how can I reporduce?  What kind of tablet, what browser, resolution etc.

[2022-04-06 05:28] Aaron-Junker commented on #194
I mean these ones:
![Screenshot_20220406_072730](https://user-images.githubusercontent.com/58633848/161902035-3fb2f202-d634-46b5-a4ac-c7937cd93f83.jpg).

On the front page. They are saved under the _posts folder.

[2022-04-06 07:34] Arhell commented on #178
I already fixed this issue https://github.com/microsoft/opensource.microsoft.com/pull/179
When you scroll the header disappears and you can click on it. I fixed it.

[2022-04-06 07:39] Arhell commented on #167
As shown in the screenshot above, the resolution is 1024 pixels and up to 1150.
Bowser chrome, edge, firefox.
In principle, it does not depend on the browser, but on the width of the screen.
already fixed it too https://github.com/microsoft/opensource.microsoft.com/pull/168

[2022-04-06 16:00] Aaron-Junker opened #195 "Update issue template to include steps to reproduce"
We may consider having a issue template that includes a question around this.  Pretty common in issue templates, and probably one we can borrow from another project.

_Originally posted by @emmairwin in https://github.com/microsoft/opensource.microsoft.com/issues/178#issuecomment-1089625911_

[2022-04-06 16:09] #178 closed

[2022-04-06 16:57] emmairwin commented on #194
Its adding to this page  view of FOSS Fund winners (not posts)  on the Ecosystem Page  https://opensource.microsoft.com/ecosystem/
![image](https://user-images.githubusercontent.com/60618/162027830-16d381b8-83c2-4e39-8693-514f3171459e.png)

[2022-04-06 17:06] #157 closed

[2022-04-08 14:40] #167 closed

[2022-04-09 15:42] Arhell opened #197 "header ui update on tablet"
![Screenshot_1](https://user-images.githubusercontent.com/26163841/162581167-cce4208d-b1ab-40cc-9c95-aa0fcaefa21e.png)

[2022-04-10 05:55] Aaron-Junker commented on #197
Do you want to work on this one like on the other ones before?

[2022-04-10 05:59] Arhell commented on #197
Of course

[2022-04-18 21:15] emmairwin commented on #187
Hi thanks @Aaron-Junker , those blog posts in your screen shot do look out of date, what is the link you clicked to see those?

[2022-04-19 03:20] emmairwin commented on #187
Please... actual URL.  Thank you.

On Mon., Apr. 18, 2022, 2:16 p.m. Aaron Junker, ***@***.***>
wrote:

[2022-04-19 05:51] Aaron-Junker commented on #187
https://opensource.microsoft.com/

[2022-04-19 21:30] emmairwin commented on #187
Ah thanks @Aaron-Junker , as silly as it sounds, that's why having a template with exact steps to reproduce is helpful - when you say 'main page' my brain was like - which main page :D

So, yes agree that these are old  and representing us well.   @jeffwilcox what was the intention here, to reflect the current blog posts?   Is there a better way to do this? Aaron what are your thoughts on a soluti

[2022-04-19 21:32] Aaron-Junker commented on #187
I think getting the RSS feed of the blog would be a solution worth to consider

[2022-04-23 04:55] bhavyastar commented on #195
I want to work on this issue. Will you please assign this to me?

[2022-04-23 07:35] Aaron-Junker commented on #195
Thank you for your interest in working on this. I assigned it to you.

Please don't hesitate to ask questions if you have them.

[2022-04-23 10:42] balajik10 commented on #194
Hi I want to work on this issue. Will you please assign this to me?

[2022-04-23 11:35] Aaron-Junker commented on #194
Hi @balajik10. Thank you for your interest in working on this. I will assign this issue to you. Don't hesitate to ask questions if you have them.

[2022-04-23 17:43] balajik10 commented on #194
Thank you sir for assigning this issue to me , actually I got to know about git and github yesterday . to be frank I know basic c programming and currently I am learning python and I am interested in wed development , cloud computing, and some more interesting topics.
Sir can you please guid me to solve this issue.

[2022-04-23 18:07] Aaron-Junker commented on #194
@balajik10 Contributing to a open source project is a great opportunity to learn!

I will try to explain it to you:

So, on the [ecosystem page](https://opensource.microsoft.com/ecosystem/) there's a list with all projects sponsored by the FOSS fund. Some projects are missing (see issue text above). Every project is in a own file in the [_fossfund folder](https://github.com/microsoft/opensource.mi

[2022-04-23 18:34] balajik10 commented on #194
Thank you for responding , now I have locked and cloned the issue in my desktop.
what should I do next ?
does C-language help me in this issue in any manner or should I want to learn any other language.

Thanks again!

[2022-04-23 18:40] balajik10 commented on #194
Sorry sir if I am troubling you a lot .
this is my first time for GitHub stuff and it will be really helpful if you will guide me on the first issue.

[2022-04-23 18:54] Aaron-Junker commented on #194
No. This project doesn't use C as a programming language. The files in the linked fossfund folder are all written in [front matter](https://jekyllrb.com/docs/front-matter/).

[2022-04-23 18:56] Aaron-Junker commented on #194
You're not troubling at all. I'm here to help you. Is what I wrote in the comment clear  or not? If not I will try to specify it.

[2022-04-23 19:06] balajik10 commented on #194
sorry , I am not clear about it.

[2022-04-23 19:46] Aaron-Junker commented on #194
Ok. Let's go through this step by step. Afterwards please point out the steps that aren't clear for you.

1. This issue is about the following page: https://opensource.microsoft.com/ecosystem/ . On this page there are several projects sponsered by the FOSS fund.

![Screenshot_20220423_203441.jpg](https://user-images.githubusercontent.com/58633848/164943660-b05148bd-fc98-44c8-be5f-8508460f18d0.jpg)

[2022-04-24 07:01] balajik10 commented on #194
Hi thank you for explaining me in depth, it helped a lot.
I have updated the files and do a pull request, now they are saying to sign the CLA.
Can you please explain me what is CLA before I sign in.

[2022-04-24 07:07] Aaron-Junker commented on #194
I've answered your question in the Pull Request.

[2022-04-24 10:22] bhavyastar commented on #195
Okay, sir, Thank you so much. 😃 @Aaron-Junker.
Is there any discord or slack server where if I have any doubts I can ask those?

[2022-04-24 11:05] yuvalherziger opened #202 "[BUG] Project link broken"
## Summary

The link to `colorma` OSS project is interpreted as a relative path of `opensource.microsoft.com/ecosystem`, resulting in an inevitable 404.

## Steps to Reproduce

1. Browse to [https://opensource.microsoft.com/ecosystem/](https://opensource.microsoft.com/ecosystem/)
2. Scroll down to where OSS project tiles are displayed
4. Click the link to `https://github.com/tartley/colorama`

[2022-04-24 12:17] Aaron-Junker commented on #195
No. If you have doubts or questions you can ask them here in this issue.

[2022-04-24 12:51] Aaron-Junker commented on #202
I can confirm this linktext and projecturl are mixed up.

[2022-04-28 15:04] balajik10 commented on #194
hey Aaron, I have a question about the "1 workflow awaiting approval".
and when will my pull request be merged

[2022-04-28 15:35] Aaron-Junker commented on #194
As @emmairwin said in your Pull Request she will have a look at it today. She also can approve the workflow then.

[2022-04-28 15:51] balajik10 commented on #194
OK , Thank you for the information.

[2022-05-14 18:27] Aaron-Junker commented on #195
@bhavyastar Hi I just wanted to ask if everything is clear and if you're still interested in doing this?

[2022-05-15 06:05] bhavyastar commented on #195
Hey @Aaron-Junker, Everything is clear, I am going to make a Pull Request for the same in 1-2 days! Thank you!

[2022-05-15 06:37] Aaron-Junker commented on #195
Great!

[2022-05-17 23:06] #202 closed

[2022-05-20 07:35] ShreyasJejurkar opened #206 "Add `.devcontainer.json` to repository"
I can see instructions on building this repository with codespaces in the README https://github.com/microsoft/opensource.microsoft.com#developing-with-codespaces, but I don't see the `devcontainer.json` configuration file in the repository.

Should we add that in here to help newcomers or even existing people, so that their codespace machine will be set up right from the beginning so that they wil

[2022-05-20 10:12] Aaron-Junker commented on #206
+1 for this idea

[2022-05-22 16:46] bhavyastar commented on #195
Hello @Aaron-Junker, Sorry for the delay, stuck with my exams, going to make Pull Request for the same after 26 May, Is it okay?

[2022-05-22 17:56] Aaron-Junker commented on #195
Yeah sure. Take the time you need.

[2022-06-16 17:22] Djstiers1109 opened #209 "MIT License"

[2022-06-16 17:44] Aaron-Junker commented on #209
Hi @Djstiers1109 could you olease specify your issue?

[2022-07-03 09:05] santoshmanaguli commented on #180
I can do this. will you assign it to me

[2022-07-03 13:24] Aaron-Junker commented on #180
Thank you! I assigned you.

[2022-07-03 20:47] LOGOLFGODORD commented on #180
probably not ! i dont trust many from git hub!

On Sun, Jul 3, 2022 at 5:05 AM Santosh Managuli ***@***.***>
wrote:

[2022-07-08 21:30] jamesiri commented on #180
@santoshmanaguli assigned issue to you.

[2022-07-08 22:03] LOGOLFGODORD commented on #180
Yes please ill trust you .please be repectful to my advice

On Fri, Jul 8, 2022, 5:30 PM James Siri ***@***.***> wrote:

[2022-07-08 22:07] jamesiri commented on #180
Removed two comments as they had no relation to the package or the problem at hand.

[2022-07-12 10:23] sebastianjnuwu opened #213 "implementation of new languages ​​to facilitate the work?"
There are some other nice languages ​​to use example svelte an idea just "-'"

[2022-07-12 22:50] Aaron-Junker commented on #213
I personally don't see the point in changing the framework. I think we should focus more on delivering great content

Cc: @jamesiri @emmairwin

[2022-07-12 23:19] jamesiri commented on #213
While there are many great languages and frameworks out there we are secure and confident in our selections for this project.

If you wanted to fork this project and convert it I would absolutely encourage it, but it isn't something that we have the desire to pursue..

[2022-07-12 23:19] #213 closed

[2022-07-29 00:51] emmairwin commented on #197
Hi @Arhell sorry for delay, I can test this tomorrow, the one thing I need is, steps to test in the issue.
I can see from your screenshot the resolution, and the screenshots, but can you please detail what is the problem, and how would we know it is fixed?  thanks in advance

[2022-07-29 00:53] emmairwin commented on #206
Hi @ShreyasJejurkar yes please do propose a PR if you are still intereted.  Thanks!

[2022-07-29 00:55] emmairwin commented on #195
I have renamed thiss to help circle back to the goal

[2022-07-29 08:07] LOGOLFGODORD commented on #206
Don’t touch nor am I giving you promise or promotion to touch any of my property!!!! Thanks !! And no thanks the government can do all that ! You don’t have the write to change nor take action on behalf of others coding !! Who’s is giving you this code of conduct ? Tell me there address and offering as is immediately!

Sent from my iPhone

[2022-07-29 09:13] NiharikaTipirishetty opened #217 "A11y_OSPO Production_Azure credits for open source projects_AI4W: Ensures elements with an ARIA role that require child roles contain them (.tabs__tabs)"
### Github tags:
#A11yMAS; #A11ySev2; #A11yTCS; #Benchmark; #P2_OSPOProduction_Web_Sep2021; #P2_WCP; #WCP; #OSPO Production; #DesktopWeb; #ChromiumEgde; #Win11; #P2_OSPOProduction; #WCAG1.3.1; #aria-required-children;

### Environment and OS Details:
#URL: https://opensource.microsoft.com/azure-credits
App name: OSPO Production
Windows 11 Version 21H2(OS Build 22000.795)
Chromium Edge Version 103.

[2022-07-29 09:24] NiharikaTipirishetty opened #218 "A11y_OSPO Production_Azure credits for open source projects_AI4W: Ensures <li> elements are used semantically (.tabs__tab.is-active[data-tab="credits-overview"])"
### Github tags:
#A11yMAS; #A11ySev2; #A11yTCS; #Benchmark; #P2_OSPOProduction_Web_Sep2021; #P2_WCP; #WCP; #OSPO Production; #DesktopWeb; #ChromiumEgde; #Win11; #P2_OSPOProduction; #WCAG1.3.1; #list-item;

### Environment and OS Details:
#URL: https://opensource.microsoft.com/azure-credits
App name: OSPO Production
Windows 11 Version 21H2(OS Build 22000.795)
Chromium Edge Version 103.0.1264.62 (Of

[2022-07-29 09:32] NiharikaTipirishetty opened #219 "A11y_OSPO Production_Code of Conduct - FAQ_AI4W: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (span)"
### Github tags:
#A11yMAS; #A11ySev2; #A11yTCS; #Benchmark; #P2_OSPOProduction_Web_Sep2021; #P2_WCP; #WCP; #OSPO Production; #DesktopWeb; #ChromiumEgde; #Win11; #P2_OSPOProduction; #WCAG1.4.3; #color-contrast;

### Environment and OS Details:
#URL: https://opensource.microsoft.com/codeofconduct/faq/
App name: OSPO Production
Windows 11 Version 21H2(OS Build 22000.795)
Chromium Edge Version 103.0.1

[2022-07-30 18:24] emmairwin commented on #195
https://github.com/microsoft/opensource.microsoft.com/commit/807ebaf21d11f1a5c284387696cca0ce4b62057f

[2022-07-30 18:24] #195 closed

[2022-07-30 18:27] emmairwin commented on #197
I have updated the issue template, but I still need this information for this bug, @Aaron-Junker you said the PR #198 looked good to you, do you think you can fill this in?

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear

[2022-07-31 11:22] Arhell commented on #197
**Describe the bug**
Content does not fit in one line and does not look good (ui)

**To Reproduce**
Open the developer panel and reduce the screen width to these values which is in the screenshot

**Desktop**
in this resolution everything is ok

**Smartphone**
in this resolution everything is ok

**Additional context**
A bug at a width of 768, that is, a tablet

[2022-07-31 16:12] LOGOLFGODORD commented on #197
No stop trying trying to get people info

On Sat, Jul 30, 2022 at 1:27 PM Emma ***@***.***> wrote:

[2022-07-31 16:53] Aaron-Junker commented on #197
Hi @LOGOLFGODORD you always write this, but what exactly do you mean? Can you eloborate?

[2022-08-01 06:31] LOGOLFGODORD commented on #197
Shut the fuck up you have all kissed me off !! So now I’m coming for
redemption !!!
On Sun, Jul 31, 2022 at 11:53 AM Aaron Junker ***@***.***>
wrote:

[2022-08-04 14:05] koudaiii commented on #206
Hi, Recently, I sent a pull request. ref #221
Can someone please review it?

[2022-08-05 07:58] koudaiii commented on #206
Thank you for your time and your review. 😄
I commented.　https://github.com/microsoft/opensource.microsoft.com/pull/221#issuecomment-1206157700

[2022-08-08 15:51] emmairwin commented on #186
Hi, there is now an in progress label, but decided againstg idea-general, I don't think this label would be helpful in sorting, preferring specific titles to general.  Thanks for the suggestion!

[2022-08-08 15:51] #186 closed

[2022-08-09 08:04] koudaiii commented on #206
Is there anything I should do to get this Pull Request merged?  Also, who does the merging? @emmairwin ?

[2022-08-10 14:15] koudaiii commented on #206
Recently #221 merged. Can we close this issue? @ShreyasJejurkar @emmairwin @Aaron-Junker

[2022-08-10 17:03] #206 closed

[2022-08-18 20:33] nelsondani1 opened #225 "Hola"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-08-19 06:49] Aaron-Junker commented on #225
Please fill out all these fields if you encounter a bug.

[2022-08-19 06:49] #225 closed

[2022-08-29 19:06] #197 closed

[2022-09-02 22:51] #194 closed

[2022-09-05 23:27] siamaksk opened #227 "Arte"
- [ ] [[]()]()

[2022-09-06 05:29] #227 closed

[2022-09-06 23:17] #187 closed

[2022-09-08 06:00] bharath2131 commented on #14
i can resolve this issue

[2022-09-08 06:35] Aaron-Junker commented on #14
@jeffwilcox @emmairwin

[2022-09-25 16:14] Gbemiga01 opened #231 "> ### Github tags: Gbemiga01"
_Originally posted by @Gbemiga01 in https://github.com/microsoft/opensource.microsoft.com/issues/219#issuecomment-1257226368_

[2022-09-26 16:23] #231 closed

[2022-10-11 17:12] jeffwilcox commented on #44
Closing; unfortunately we're not actively working in this space, and can revisit this backlog later.

[2022-10-11 17:12] #44 closed

[2022-10-11 17:13] jeffwilcox commented on #180
@Aaron-Junker what should we do on this one, not sure if you wanted to submit the PR, or should we close?

[2022-10-11 17:13] jeffwilcox commented on #123
This should get reviewed. However, I do believe that "open source updates" section has been removed...

[2022-10-11 17:16] jeffwilcox commented on #14
Unfortunately this issue requires backend changes that are in a closed-source API server. This is tracked here for transparency. I'm going to remove the stale label but am not sure when this could improve. Once the API server is updated, the frontend would need corresponding fixes, too.

[2022-10-12 06:56] Aaron-Junker commented on #180
I would like to do this, when you approve

[2022-10-12 07:03] jeffwilcox commented on #180
@Aaron-Junker ready anytime to review a PR

[2022-10-17 02:31] #90 closed

[2022-10-17 02:31] #37 closed

[2022-10-17 02:31] #32 closed

[2022-10-17 02:31] #31 closed

[2022-10-17 02:31] #20 closed

[2022-10-27 22:44] mpcen commented on #219
Non-issue once list items are expanded.

[2022-10-28 16:15] mpcen commented on #219
fixed in https://github.com/microsoft/opensource.microsoft.com/pull/236

[2022-10-28 16:16] mpcen commented on #218
fixed in https://github.com/microsoft/opensource.microsoft.com/pull/236

this can be closed

[2022-10-28 16:16] mpcen commented on #217
fixed in https://github.com/microsoft/opensource.microsoft.com/pull/236

this can be closed

[2022-10-28 16:16] #219 closed

[2022-10-28 16:16] #217 closed

[2022-10-31 10:50] akashelijah05 commented on #219
Verified the issue in https://opensource.microsoft.com/codeofconduct/faq/ and the issue is not fixed. Please reopen the bug, please find the screen shot for reference
![219_Not fixed](https://user-images.githubusercontent.com/116360471/198990722-845db605-be4b-4b57-a796-24686bb67364.jpg)

Verified the similar issue in https://opensource.microsoft.com/program/ and the issue is fixed in here only.

!

[2022-10-31 10:59] akashelijah05 commented on #217
Verified the issue in https://opensource.microsoft.com/azure-credits and the issue is fixed. Please find attached screen shot for reference. Thanks
![217_Fixed](https://user-images.githubusercontent.com/116360471/198992357-7836424f-9e5b-4806-a8e5-a70802b856b9.jpg)

Verified the similar issue in https://opensource.microsoft.com/program/ and the issue is fixed. Please find attached screen shot for r

[2022-10-31 11:02] akashelijah05 commented on #218
Verified the issue in https://opensource.microsoft.com/azure-credits and the issue is fixed. Please find attached screen shot for reference. Thanks
![217_Fixed](https://user-images.githubusercontent.com/116360471/198992357-7836424f-9e5b-4806-a8e5-a70802b856b9.jpg)

Verified the similar issue in https://opensource.microsoft.com/program/ and the issue is fixed. Please find attached screen shot for r

[2022-10-31 15:55] mpcen commented on #219
Have you tried collapsing the items?

[2022-11-01 02:29] #14 closed

[2022-11-03 20:12] dbjorge opened #237 "Microsoft logo in header is broken on pages with more than one path component"
**Describe the bug**
On pages with more than one path component (eg, https://opensource.microsoft.com/projects/explore and https://opensource.microsoft.com/codeofconduct/faq/), the Microsoft logo at the top-left corner of the page is broken.

I suspect that the root cause is that this line of `_includes/header.html`...

https://github.com/microsoft/opensource.microsoft.com/blob/1b8e0c651ec1a429604

[2022-11-08 02:24] #180 closed

[2022-11-23 17:15] Qazplmqwerty opened #245 "h-hh"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-11-23 17:16] #245 closed

[2022-11-23 17:18] Qazplmqwerty commented on #245
@msftgits @aisgbnok @

[2022-11-23 17:18] Qazplmqwerty commented on #245
@aaa@haaaa-@hah@hh

[2022-11-23 17:22] Qazplmqwerty opened #246 "you @ll are my issue get a life"

[2022-11-23 17:24] #246 closed

[2022-11-24 02:13] #237 closed

[2022-11-26 02:03] Qazplmqwerty opened #248 "make.js"
https://github.com/PlayFab/XPlatCoreTemplate/blob/0902023006da8b219d7cc3253aadf79477fab734/make.js

[2022-11-26 02:04] #248 closed

[2022-11-26 02:29] Qazplmqwerty opened #249 "u"
https://github.com/PlayFab/UnityEditorExtensions/blob/master/.gitignore#L1-L47https://github.com/PlayFab/UnityEditorExtensions/blob/master/.gitignore#L1-L47

[2022-11-26 02:31] Qazplmqwerty opened #250 "https://github.com/PlayFab/UnityEditorExtensions/blob/master/.gitignore#L1-L47"
https://github.com/PlayFab/UnityEditorExtensions/blob/master/.gitignore#L1-L47https://github.com/PlayFab/UnityEditorExtensions/blob/master/.gitignore#L1-L47

[2022-11-26 02:31] #250 closed

[2022-11-29 00:43] emmairwin opened #251 "Update .NET logo"
the .NET logo on the Ecosystem page is linked directly , but it should follow the format of all other logos  (stored in this [folder](https://github.com/microsoft/opensource.microsoft.com/tree/main/assets/images/projects).

You can see the directly linked image is also a 404

![image](https://user-images.githubusercontent.com/60618/204410539-495f4a6c-e5e0-4dd0-bbd0-7c71575c3896.png)

[2022-11-29 08:41] AdityaAB4 commented on #251
I want to contribute.

[2022-11-29 10:12] Aaron-Junker commented on #251
@AdityaAB4 Thank you for the interest in contributing. I assigned the issue to you. Please dln't hesitate if you need any helo or have any questions.

[2022-11-29 10:49] AdityaAB4 commented on #251
Thank you, Sir, for assigning me this issue.
I have cloned the repo and ran the npm install command but it is
throwing an error at node-sass installation. Could you please help me
with this?
Screenshots of the errors are attached.

On Tue, 29 Nov 2022 at 15:42, Aaron Junker ***@***.***> wrote:

[2022-11-29 11:54] Aaron-Junker commented on #251
Hi @AdityaAB4 Files attached to mail are bot displayee in GitHub. Could you please attach the file over the website?

And can you also try to build the docker image?

[2022-11-29 14:21] AdityaAB4 commented on #251
Getting this error on running `npm install`
<img width="836" alt="error" src="https://user-images.githubusercontent.com/63203954/204553875-061eeb24-4ace-4976-ab52-8251cef88963.png">

[2022-11-29 14:37] AdityaAB4 commented on #251
I tried it on codespace but it is giving me the same error.

[2022-11-29 16:16] Aaron-Junker commented on #251
@AdityaAB4 Building the docker image in the codespace should work.

[2022-11-29 16:30] AdityaAB4 commented on #251
Thanks, I'll check it out.

On Tue, 29 Nov 2022 at 21:47, Aaron Junker ***@***.***> wrote:

[2022-11-29 18:04] AdityaAB4 commented on #251
Gulp error:
<img width="463" alt="gulperror" src="https://user-images.githubusercontent.com/63203954/204609845-5915a325-9ad4-4d66-95d5-8c129ec8d89b.png">

[2022-11-29 19:05] Aaron-Junker commented on #251
cc: @emmairwin

[2022-11-29 19:08] Aa1106443102 opened #252 "H"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-11-29 19:09] #252 closed

[2022-11-30 10:23] AdityaAB4 commented on #251
The error is solved
![image](https://user-images.githubusercontent.com/63203954/204771265-ced048ab-82aa-4a2a-bb7c-55990bacd4fc.png)

[2022-11-30 10:35] AdityaAB4 commented on #251
For running the project I have added `webrick` by using command `bundle add webrick`

That changed the following files:
Gemfile
![image](https://user-images.githubusercontent.com/63203954/204773071-843326e3-011e-4638-b124-15c94e9a4bc3.png)

Gemfile.lock
![image](https://user-images.githubusercontent.com/63203954/204773282-9af922ff-c792-48c4-b321-7cc5f36f440e.png)

For solving the error I changed t

[2022-11-30 16:53] AdityaAB4 commented on #251
Sure, I will do that.

On Wed, 30 Nov 2022 at 22:01, Aaron Junker ***@***.***> wrote:

[2022-11-30 18:10] AdityaAB4 commented on #251
I have created a branch name `dotNetlogoissue` but after adding the command `git push origin dotNelogoissue` I got the following error:
<img width="814" alt="image" src="https://user-images.githubusercontent.com/63203954/204874568-c6be449a-1b38-4072-b38b-f3bf6ca8b0f4.png">

[2022-11-30 20:03] Aaron-Junker commented on #251
Hi @AdityaAB4 You have to fork the repository first.

I would recommend you to read [this](https://opensource.guide/how-to-contribute/#opening-a-pull-request)

[2022-11-30 20:06] AdityaAB4 commented on #251
Ok, I'll check it out.

On Thu, 1 Dec 2022, 1:33 am Aaron Junker, ***@***.***> wrote: